<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiQITvt5pqOKEHMY7Og-38pM88F7PRtoY</string>
	<key>GCM_SENDER_ID</key>
	<string>609460599361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.bereifung24.bereifung24App</string>
	<key>PROJECT_ID</key>
	<string>bereifung24-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bereifung24-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609460599361:ios:f75d2dbfdb5512286d64c0</string>
</dict>
</plist>